asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.1
django-cleanup==6.0.0
django-cors-headers==3.11.0
django-unused-media==0.2.2
djangorestframework==3.13.1
idna==3.3
Pillow==9.0.0
pytz==2021.3
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.8
waitress==2.1.0
whitenoise==6.0.0
